@using IntexQueensSlay.Models.ViewModels

@* @model IQueryable<Product> *@
@{
    Layout = "_Layout2"; // Specify the layout file to use
}

@model ProductListViewModel

@* @model List<Product> *@

<header class="bg py-3" style="background-color: #F2CD37; color: black; border: 1px solid black;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Find the Lego for you!</h1>
            <p class="lead fw-normal text-black-50 mb-0" >Master Builders Unite</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    
                    @foreach (Product p in Model.Products)
                    {
                       @*  <div class="text-center">
                            <ul>
                                <li>Name: @p.Name</li>
                                <li>Year: @p.Year</li>
                                <li>Number of Parts: @p.NumParts</li>
                                <li>Price: @p.Price</li>
                                <li>Image: @p.ImgLink</li>
                                <li>Primary Color: @p.PrimaryColor</li>
                                <li>Other Color: @p.SecondaryColor</li>
                                <li>Description: @p.Description</li>
                                <li>Category: @p.Category1</li>
                                <li>Cat 2 Country: @p.Category2</li>
                                <li>Cat 3: @p.Category3</li>
                           

                            </ul>
                        </div> *@
              
                    <!-- Product image-->
                        <img class="card-img-top" src="@p.ImgLink" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                             <li class="fw-bolder">Name: @p.Name</li>
                            <!-- Product price-->
                             <li>Price: $ @p.Price</li>
                        </div>
                            <li>Year: @p.Year</li>
                            <li>Number of Parts: @p.NumParts</li>
                            <li>Primary Color: @p.PrimaryColor</li>
                            <li>Other Color: @p.SecondaryColor</li>
                            <li>Description: @p.Description</li>
                            <li>Category: @p.Category1</li>
                            <li>Cat 2 : @p.Category2</li>
                            <li>Cat 3: @p.Category3</li>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@p.ProductId" class="btn btn-outline-dark mt-auto">View options</a>
                        </div>
                    </div>
                    }
                </div>
            </div>
           


<!-- Add dropdown for selecting the number of products per page -->
<div class="container my-4">
    <div class="row justify-content-end">
        <div class="col-lg-3 text-right">
            <form asp-controller="Home" asp-action="Products" method="get">
                <input type="hidden" name="allCat" value="@Model.CurrentAllCat" />
                <input type="hidden" name="allColor" value="@Model.CurrentAllColor" />
                <div class="dropdown">
                    <button class="btn blue-button dropdown-toggle" type="button" id="pageSizeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Number of Products
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
                        <li><button class="dropdown-item" type="submit" name="pageSize" value="5">Show 5 Products</button></li>
                        <li><button class="dropdown-item" type="submit" name="pageSize" value="10">Show 10 Products</button></li>
                        <li><button class="dropdown-item" type="submit" name="pageSize" value="20">Show 20 Products</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 pt-2">
    @foreach (var product in Model.Products)
    {
        <div class="col mb-4">
            <!-- Add margin bottom to create space between columns -->
            <partial name="productsummary" model="product" />
        </div>
    }
</div>

<div page-model="@Model.PaginationInfo" page-action="Products" page-class-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-allCat="@Model.CurrentAllCat" page-url-allColor="@Model.CurrentAllColor" class="btn-group pull-right m-1"></div>

        