@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<div class="container col-3">
    <img class="card-img-top" src="@Model.ImgLink" alt="..." />
</div>

<div class="container col-9">
    <h2><b>@Model.Name</b></h2>

    <p><b>Price:</b> @Model.Price</p>

    <p><b>Description:</b> @Model.Description</p>
    <p><b>Year:</b> @Model.Year</p>
    <p><b>Number of Parts:</b> @Model.NumParts</p>

</div>

<form id=@Model.ProductId method="post" asp-page="/Cart" asp-page-handler="AddToCart">
    <input type="hidden" asp-for="@Model.ProductId" />
    <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
    <button type="submit" class="btn-outline-success btn-sm float-end">Add to Cart</button>
</form>

@* 
<div style="text-align: right">
    <form id=@Model.ProductId method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.ProductId"/>
        <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
        <button type="submit" class="btn-outline-success btn-sm float-end">Add to Cart</button>
    </form>

    <form method="post" asp-page="/Cart">
        <input type="hidden" name="productId" value="@Model.ProductId" />
        <input type="submit" value="Add to Cart 2" />
    </form>


    <br /><br />

    <a asp-action="Products">Continue Browsing</a>
</div> *@