@model IEnumerable<IntexQueensSlay.Models.OrderPredictions>

@{
    var classTypeDict = new Dictionary<int, string>
    {
        { 0, "Not Fraud"},
        { 1, "Fraud"}
    };
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <h1>REVIEW ORDERS</h1>
        <h5>Potential Fraudulent Orders to Review</h5>
    </div>
    <div>
        <a asp-action="CRUDProducts" class="btn btn-primary">Return to Admin Summary</a>
    </div>
</div>
<br />
<br />

<style>
    .table-bordered {
        border: 1px solid #ddd;
    }

        .table-bordered th, .table-bordered td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
</style>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th>Weekday</th>
            <th>Time</th>
            <th>Entry Mode</th>
            <th>Subtotal</th>
            <th>Transaction Type</th>
            <th>Transaction Country</th>
            <th>Shipping Address</th>
            <th>Bank</th>
            <th>Card Type</th>
            <th>Fraud</th>
            <th class="prediction-cell">Fraud Prediction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Orders.TransactionId</td>
                <td>@item.Orders.CustomerId</td>
                <td>@item.Orders.Date</td>
                <td>@item.Orders.WeekDay</td>
                <td>@item.Orders.Time</td>
                <td>@item.Orders.EntryMode</td>
                <td>@item.Orders.Subtotal</td>
                <td>@item.Orders.TransactionType</td>
                <td>@item.Orders.TransCountry</td>
                <td>@item.Orders.ShippingAddress</td>
                <td>@item.Orders.Bank</td>
                <td>@item.Orders.CardType</td>
                <td>@item.Orders.Fraud</td>
                <td class="prediction-cell">@item.Predictions</td>
            </tr>
        }
    </tbody>
</table>